<p>
  I'm a final year B.Tech(ECE) student from VIT Vellore!
  <br> <br> 
  Tech enthusiast with a demonstrated history of working in the computer software and hardware industry. <br>Skilled in CloudOps, DevOps, Networks, IoT and Machine Learning. 
  <br> <br> 
  Looking forward to a challenging and growth-oriented task to prove the best of my ability in achieving the objective of the job. 😀
</p>
