

<ul class='contact'>
  <li>
    <a class='blue' target='_blank' href='https://www.linkedin.com/in/codebytere'>
      LinkedIn
    </a>
  </li>
  <li>
    <a class='blue' target='_blank' href='https://twitter.com/souravkarjee7'>
      Twitter
    </a>
  </li>
  <li>
    <a class='blue' target='_blank' href='https://www.instagram.com/srvk99/'>
      Instagram
    </a>
  </li>
  <li>
    <a class='blue' target='_blank' href='https://github.com/srvk-99'>
      GitHub
    </a>
  </li>
  
</ul>