<h4>
  Dream List:
</h4>
<ul>
  <li>To be a proud owner of a macbook 🥺 </li>
  <li>Wish to be part of a dog owner fam 🐕</li>
  <li>Spreading the importance of CS fundamentals 💻 </li>
  <li>Want to travel the world ✈️</li>
  <li>$ cat skills/familiar.txt | tee -a skills/proficient.txt 🤩</li>
</ul>
