<ul>
  <li>Python</li>
  <li>C/C++</li>
  <li>Git</li>
  <li>Docker</li>
  <li>Jenkins</li>
  <li>Travis CI</li>
  <li>Ansible</li>
  <li>AWS</li>
  <li>Flask</li>
  <li>Express</li>
  <li>Keras</li>
  <li>Burp Suite</li>
  <li>Wireshark</li>
  <li>Maltego</li>
  <li>Linux/RHEL</li>
  <li>GNS3</li>
  <li>Network Administration</li>
  <li>IoT</li>
</ul>
