<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            
           
        </div>
    </div>
    <div class="footer__inner">
        <div class="footer__content">
            
            <span>{{ .Site.Params.footerRight | default " code never lies, comments sometimes do   <a href=\"/flag.html\">(ᵔᴥᵔ)</a>" | safeHTML }}</span>
            
          </div>
    </div>
</footer>
