<head>
    <link rel="stylesheet/less" type="text/css" href="styles/main.less" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.4.3/js/jquery.terminal.js"></script>
    <script type="text/javascript" src="src/shell.js"></script>
    <script type="text/javascript" src="src/cli.js"></script>
  </head>
  
  <body>
  
  <div class="terminal-window">
    <header>
       <div class="button red" ></div>
      <div class="button yellow"></div>
      <div class="button green"></div>
    </header>
    <div id="terminal">
      <p><span class="green">(⌐■_■)</span> - {tH1s i$ nOt FoR n0o85} Type `help` to get started.</span>
        <p class="hidden">
          <span class="prompt">
            <span class="root">root</span>
            <span class="tick">❯</span>
          </span>
          <span contenteditable="true" class="input"></span>
        </p>
    </div>
  </div>
  
  <div class="footer">
    
    
    <p>code never lies, comments sometimes do <a class="site-code"  href="/flag.html">(ᵔᴥᵔ)</a></p>
  </div>
  
  </body>